
html {
  
    color:blue;
}

#header {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    display: block;
    color:cadetblue;
 
}

body {
    background-color: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 25px purple solid;
    padding: 20px;
    
}

#list {
    display: block;
    float:left;
    border:2px solid black;
}

#links {
    display: block;
    width: 100%;
    font-size: 35px;
    float:center;
    border:2px solid black;
    
}

h1, h3 {
    text-align: center;
}

span.a {
    color:darkblue;
    text-shadow:1px 1px crimson;
    display: inline-block;
    padding: 10px;
    font-size: 28px;
}

#start-quiz {
    
    color:blue;
    text-shadow:-1px 1px black;
   
    background-color:rgb(103, 127, 150);
    margin:50px;
    padding:25px;
    border-radius: 100px;
    -moz-border-radius:100px;
    -webkit-border-radius: 100px;
}

#play-again-button {
    background-color:rgb(80, 112, 141);
}

#warning {
    font-size: 18px;
    padding:0px;
    margin: 0px;
}
p {
    font-size: 30px;
    padding: 10px;
    margin:50px;
}

#random-body, li {
    color: blue;
    text-shadow:1px 1px crimson;
}

.credit-due {
    color: black;
    text-shadow:1px 1px crimson;
   
}

h4 {
    padding: 10px;
    margin:50px;
}